/**
* Colour section
*/

$colour--light-gray: #e5e5e5;
$colour--white: #fff;
$colour--gray: #4a4a4a;
$colour--blue: #2196f3;
$colour--light-blue: #f1fcff;
$color--lightest-gray: #dfe5ec;
$colour--middle-gray: #a0b0b9;
$colour--secondary-gray: #dadada;
$colour--another-gray: #9ea9b7;
