@use "../../styles/variables" as vars;

.preloader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  circle {
    stroke: vars.$colour--blue !important;
  }
}
