@use "../../styles/variables" as vars;
@import "./FormElements.module.scss";

.radio {
  color: transparent !important;
  border-radius: 2px;
  padding: 0 !important;
  margin-right: 5px !important;
}

.formLabel {
  &:hover {
    background: vars.$colour--light-blue !important;
    .radio {
      rect {
        stroke: vars.$colour--blue !important;
      }
    }
  }
}